body {
}
 /*Default ul */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header {
    height: 100px;
    width: 100%;
    background-color: gray;
    bottom: 0;

}

.hearder_top {
    height: 40px;
    width: 100%;
    background-color: red;
    bottom: 0;
   
   
}
.hearder_top.line { 
    margin-left : 50px; 
    background-color :blue;

}
 
.hearder_top li {

    float : left;
     
    background-color : yellow;
    

}





 
.hearder_bot {
    height: 60px;
    width: 100%;
    background-color: green;
    bottom: 0;
  
}

.menu_bar_1 {
    height: 40px;
    width: 100%;
    background-color: red;
    margin: 0px;
    padding: 0px;
}

.footer {
    height: 40px;
    width: 100%;
    background-color: grey;
    position: absolute;
    bottom: 0;
}
