body {
}
/*Default ul */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header {
    height: 90px;
    width: 100%;
    background-color: #f5f5f5;
    bottom: 0;
}

.hearder_top {
    height: 40px;
    width: 100%;
    background-color: red;
    bottom: 0;
}








.hearder_bot {
    height: 50px;
    width: 100%;
    background-color:white;
    bottom: 0;
}
    .hearder_bot .line {
        margin-left: 50px;
        background-color: blue;
    }

    .hearder_bot li {
        float: left;
        font-size: 18px;
       margin-left : 20px;
    }


.menu_bar_1 {
    height: 40px;
    width: 100%;
    background-color: red;
    margin: 0px;
    padding: 0px;
}

.footer {
    height: 40px;
    width: 100%;
    background-color: grey;
    position: absolute;
    bottom: 0;
}
